@font-face {
	font-family: centurygoth;
	src:url(../resources/fonts/GOTHIC.TTF);
}

@media only screen and (orientation:portrait) {
  .top {
    padding-top: 10px;
    padding-right: 15%;
    padding-bottom: 10px;
    padding-left: 15%;
  }
}
@media only screen and (orientation:landscape) {
  .top {
    padding-top: 10px;
    padding-right: 35%;
    padding-bottom: 10px;
    padding-left: 35%;
  }
}
@media only screen and (orientation:portrait) {
  .coverpic {
    width: 100%;
	border-radius:10px;
  }
}
@media only screen and (orientation:landscape) {
  .coverpic {
    width: 50%;
	border-radius:10px;
	align:center;
	display: block;
	margin-left: auto;
	margin-right: auto;
  }
}
h1,h2,h3,h4,h5,h6 {
	font-family:centurygoth;
}
.top{
	margin: auto;
	width: 100%;
	text-align: center;
	border: 1px solid #F995FF;
	color: #ffffff;
	background-color: #9dd2a2;
	background-image: url(../resources/images/Ralts_Head.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:contain;
}
.boundbox {
	background-color: rgba(0,0,0,0.1);
	background-size: 80px;
	border-radius: 5px;
}
.banner{
	color: #ffffff;
	background-color: #ca0000;
	width: 100%;
	text-align: center;
	padding: 10px;
}
div.banner a{
	color: #000000;
}
ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /*Safari*/
  position: sticky;
  top: 0;
}
ul.navbar li {
  float: left;
}
ul.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul.navbar li a:hover {
  background-color: #111000;
  color: white;
  text-decoration: none;
}
.active {
  background-color: rgb(157, 210, 162);
  text-decoration: none;
}