.coordinate {
	border: 1.5px solid black;
	display:block; 
	margin-left:auto; 
	margin-right:auto;
}
.result {
	border-radius:20px;
	border:1px solid gray;
	font-size: 30px;
	text-align:center;
	line-height:36px;
}